.memberData__rightCard {
  width: 1500px;
  height: 900px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  /* margin: 26px 20px 26px auto; */
  display: flex;
}
.memberData__leftSide {
  width: 350px;
  height: 900px;
}
.memberData__photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 132px 0 0 100px;
}
.memberData__introBox {
  display: flex;
}
.memberData__intro {
  margin: 20px auto;
}
.memberData__introEditBtn {
  background-color: #ffffff;
  border: 1px solid transparent;
  outline: none;
  margin-bottom: 10px;
}
.memberData__basicInfoTitle {
  margin: 0 50px 30px -80px;
}
.memberData__basicInfo {
  display: flex;
}
.memberData__basicInfoBox {
  margin: 30px 0 0 80px;
}
.memberData__basicInfoBox h3 {
  margin: 0;
}
.memberData__introContent {
  width: 200px;
  height: 200px;
  font-size: 20px;
  font-weight: normal;
  margin: 20px 0 0 80px;
  border: 0;
  border-radius: 10px;
  resize: none;
}
.memberData__basicInfo {
  margin: 120px 0 0 0;
}
.memberData__input {
  width: 400px;
  font-size: 30px;
  font-weight: normal;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 20px;
  resize: none;
  border-style: none;
}
.memberData__birth {
  width: 250px;
  font-size: 30px;
  font-weight: normal;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 20px;
  resize: none;
  border-style: none;
}
.memberData__contactTitle {
  margin: 0 50px 30px -80px;
}
.memberData__editBox {
  display: flex;
}
.editBtn {
  background-color: #ffffff;
  border: 1px solid transparent;
  outline: none;
  margin: 1px 0 5px 5px;
}
.memberData__updateBtn {
  font-size: 20px;
  font-weight: lighter;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background-color: #223843;
  color: #ffffff;
  border: none;
  float: right;
  margin: 60px 0 0 100px;
}
.memberData__updateBtn:hover {
  filter: brightness(1.3);
  transition: 0.3s;
}
.memberData_loading {
  margin: 0 auto;
  align-items: center;
}
#spinner-border {
  width: 5rem;
  height: 5rem;
}
