/* @import '../../styles/global.css'; */

.quizStart {
  width: 600px;
  height: 100vh;
  background: #fcf9ee;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.quizStart img {
  width: 100%;
}
.quizStart h3 {
  color: #223843;
  margin-top: 100px;
}
.text_quiz {
  margin: 20px 0 40px 0;
  max-width: 280px;
  text-align: center;
}
.quizStart p {
  color: #223843;
}
.quizStart_btn {
  width: 320px;
  height: 60px;
  border-radius: 30px;
  background: #223843;
  color: #fff;
  border: 1px solid #223843;
  font-size: 1rem;
}
