.memberOrderCourse__detailTitleBox {
  display: flex;
  width: 1260px;
  height: 50px;
  background-color: #223843;
  border-radius: 10px 10px 0 0;
  font-size: 25px;
  font-weight: lighter;
  color: #ffffff;
}
.memberOrderCourse__detailTitle {
  padding: 0 0 0 20px;
  line-height: 50px;
}
.memberOrderCourse__goBackBtn {
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  line-height: 40px;
  background-color: #223843;
  color: #ffffff;
  margin: 0 30px 0 auto;
}
.memberOrderCourse__detailOrderBox {
  width: 1260px;
  height: 580px;
  border: 1px solid #223843;
  border-radius: 10px;
  margin: 84px auto;
}
.memberOrderCourse__detailNumberBox {
  display: flex;
  float: right;
  width: 300px;
  margin: 26px 0 0 0;
}
.memberOrderCourse__detailNumberTitle h5 {
  color: #707070;
  font-weight: lighter;
}
.memberOrderCourse__detailNumber h5 {
  color: #707070;
  font-weight: lighter;
}
.memberOrderCourse__detailNumberTitle {
  margin: 0 25px 0 0;
}
.memberOrderCourse__detailTopLine {
  width: 1217px;
  background-color: #223843;
  margin: 64px 0 0 22px;
}
.memberOrderCourse__detailBottomLine {
  width: 700px;
  background-color: #223843;
  margin: 0 0 0 22px;
}
.memberOrderCourse__detailBox {
  display: flex;
  width: 1260px;
  height: 385px;
}
.memberOrderCourse__detailLeftBox {
  width: 700px;
}
.memberOrderCourse__detailLeftItem {
  display: flex;
}
.memberOrderCourse__courseInfo {
  font-size: 20px;
  font-weight: lighter;
}
.memberOrderCourse__courseTextBox {
  margin: 30px 0 0 30px;
}
.memberOrderCourse__courseList {
  font-size: 15px;
  font-weight: lighter;
  margin: 0 0 0 30px;
}
.memberOrderCourse__courseImageBox {
  width: 230px;
  height: 230px;
  margin: 24px 0 0 45px;
}
.memberOrderCourse__detailRightBox {
  width: 530px;
}
.memberOrderCourse__rightTopBox {
  /* border: 1px solid red; */
  height: 192px;
}
.memberOrderCourse__receiveBox {
  margin: 35px 0 0 45px;
}
.memberOrderCourse__receiveTitle {
  font-size: 25px;
  font-weight: lighter;
}
.memberOrderCourse__receiveName {
  margin: 20px 0 0 0;
}
.receiveText {
  font-size: 20px;
  font-weight: lighter;
  color: #707070;
}
.memberOrderCourse__rightBottomBox {
  /* border: 1px solid red; */
  height: 192px;
}
.memberOrderCourse__statusBox {
  margin: 20px 0 0 45px;
}
.memberOrderCourse__courseTitle {
  font-size: 25px;
  font-weight: lighter;
}
.memberOrderCourse__detailItemTitle {
  margin: 35px 0 0 45px;
}
.memberOrderCourse__orderTitle {
  margin: 0;
  font-size: 25px;
  font-weight: lighter;
}
.memberOrderCourse__statusConfirm {
  margin: 3px 2px 2px 2px;
  color: #ffffff;
}
.memberOrderCourse__courseBox {
  margin: 20px 0 0 45px;
}
.memberOrderCourse__courseDetailBox {
  margin: 20px 0 0 0;
}
.memberOrderCourse__courseTitle {
  font-size: 25px;
  font-weight: lighter;
}
.courseText {
  font-size: 20px;
  font-weight: lighter;
}
.memberOrderCourse__numAndPrice {
  width: 300px;
  height: 65px;
  margin: 45px 0 0 450px;
  /* border: 1px solid red; */
}
.memberOrderCourse__numOfPeople {
  display: flex;
}
.memberOrderCourse__peopleNumber {
  margin: 0 0 0 80px;
}
.memberOrderCourse__numOfPeople h4 {
  font-size: 20px;
  font-weight: lighter;
}
.memberOrderCourse__price h4 {
  font-size: 20px;
  font-weight: lighter;
}
.memberOrderCourse__price {
  display: flex;
}
.memberOrderCourse__priceNumber {
  margin: 0 0 0 33px;
}
