.member-wrapper {
  width: 100vw;
  height: 100vh;
  /* height: calc(100vh - 128px); */
  background: var(--c-secondary);
  /* align leftcard and right card */
  padding: 26px;
  display: flex;
  justify-content: space-between;
}
