@import '../style.scss';

// product name
.cust-res__top-bar {
  width: 900px;
  height: 80px;
  margin-left: -450px;
  background: $c-secondary;
  filter: $ds-card;
  border-radius: 50px;
  font-size: $fs-h2;
  text-align: center;
  line-height: 80px;
  position: absolute;
  top: 50px;
  left: 50vw;
}

// product image
.cust-res__image-top {
  margin-left: -175px;
  position: absolute;
  top: 230px;
  left: 50vw;
}
.cust-res__image {
  width: 350px;
  height: 710px;
  filter: $ds-product;
}

// cost list
.cust-res__cost-list {
  width: 380px;
  line-height: 4rem;
  font-size: $fs-h4;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 350px;
  right: 150px;
  & th {
    width: 33%;
    font-weight: 300;
  }
  & tbody {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3); 
  }
}

// button group
%btn {
  width: 150px;
  height: 60px;
  background: $c-secondary;
  border: none;
  border-radius: $br-b;
  font-size: $fs-h3;
  filter: $ds-card;
  position: absolute;
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
%btn-light {
  background: $c-secondary;
  &:hover {
    background: #2e6e90;
    color: $c-white;
    transition: 0.3s;
  }
}
%btn-dark {
  background: $c-primary;
  color: $c-secondary;
  &:hover {
    background: #2e6e90;
    color: $c-white;
    transition: 0.3s;
  }
}
.cust-res {
  &__btn-reset {
    @extend %btn;
    @extend %btn-light;
    bottom: 50px;
    left: 100px;
  }
  &__btn-favorite {
    @extend %btn;
    @extend %btn-dark;
    bottom: 50px;
    // right: 480px;
    right: 290px;
  }
  &__btn-purchase {
    @extend %btn;
    @extend %btn-dark;
    bottom: 50px;
    // right: 290px;
    right: 100px;
  }
  // &__btn-share {
  //   @extend %btn;
  //   @extend %btn-light;
  //   bottom: 50px;
  //   right: 100px;
  // }
}

// update by wen
.cust-res__btn-reset{
  color: $c-primary;
}

.cust-res__price {
  text-align: right;
}
