.memberOrderPerfume__productBox {
  display: flex;
}
.memberOrderPerfume__productImageBox {
  width: 77px;
  height: 118px;
  /* border: 1px solid red; */
}
.memberOrderPerfume__productImage {
  width: 77px;
}
.memberOrderPerfume__productNameBox {
  width: 150px;
  margin: 20px 0 0 60px;
}
.chName {
  font-weight: normal;
}
.enName,
.series {
  font-weight: lighter;
}
.memberOrderPerfume__productCapacityBox,
.memberOrderPerfume__productCountBox,
.memberOrderPerfume__productPriceBox {
  margin: 49px 0 0 50px;
}
.memberOrderPerfume__productCapacity,
.memberOrderPerfume__productCount,
.memberOrderPerfume__productPrice {
  font-weight: lighter;
}
