/* font-family */
@import url('https://use.typekit.net/abg1jwm.css');

/* 沒列在這裡的變數或網頁上大小看起來很怪的在 #ui 問設計組 */
:root {
  /* common color */
  --c-primary: #223843; /* Gunmetal */
  --c-secondary: #eff1f3; /* Cultured */
  --c-white: #ffffff; /* White */
  --c-gray: #c4c4c4; /* Gray */
  --c-black: #000000; /* Black */
  --c-bg-main: #fcf9ee; /* Light Floral White */
  --c-bg-locator: #fffbeb; /* Floral White */
  --c-bg-filter: #f4e7d3; /* Pita */
  --c-backdrop: rgba(0, 0, 0, 0.5); /* Cod Gray */
  --c-label: #6e7781; /* Pale Sky */
  --c-warning: #ffd289; /* Deep Champagne */
  --c-important: #c16e70; /* Fuzzy Wuzzy */
  --c-modal-button: #ffa042; /* Sunshade */
  --c-btn-hover: #2e6e90;

  /* custom color */
  --c-herb: #b8d7c7;
  --c-flower: #f9e594;
  --c-fruit: #fcca5b;
  --c-blob-yellow: rgba(230, 194, 44, 0.5);
  --c-blob-purple: rgba(83, 89, 164, 0.5);
  --c-blob-red: rgba(209, 18, 73, 0.5);
  --c-blob-orange: rgba(241, 113, 10, 0.5);

  /* font-family */
  --ff-didot: linotype-didot, serif; /* logo, homepage(custom product card, progress bar, copyright) */

  /* font-size */
  --fs-h1: 40px; /* logo */
  --fs-h2: 36px;
  --fs-h3: 30px;
  --fs-h4: 24px;
  --fs-h5: 20px; /* button */
  --fs-p: 18px;
  --fs-span: 16px; /* a, span */

  /* font-weight */
  --fw-light: 300;
  --fw-regular: 400; /* didot */
  --fw-medium: 500;
  --fw-bold: 700; /* didot */

  /* border-radius */
  --br-b: 30px; /* course single page, product single page */
  --br-m: 20px; /* homepage(course card) */
  --br-s: 10px; /* input */

  /* icon size */
  --is-m: 30px;
  --is-s: 24px; /* feather icon 預設大小 */

  /* drop-shadow */
  --ds-card: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
  --ds-product: drop-shadow(-5px 10px 10px rgba(0, 0, 0, 0.3));
  --ds-sidebar: drop-shadow(0px 5px 10px rgba(0,0,0,0.5));
}

​body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: var(--fw-regular);
  color: var(--c-primary);
}

p,
ul,
li,
article,
figure,
input {
  margin: 0;
  padding: 0;
}

a,
a:link {
  text-decoration: none;
  color: var(--c-primary);
}

a:focus,
a:hover {
  text-decoration: none;
  color: var(--c-primary);
}

/* logo */
.logo {
  font-family: var(--ff-didot);
  color: var(--c-primary);
}

/* header icon */
.header-i {
  stroke-width: 1px;
}

/* default icon */
.feather-s {
  width: var(--is-s);
  height: var(--is-s);
  stroke: var(--c-primary);
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: unset;
}

.feather-m {
  width: var(--is-m);
  height: var(--is-m);
  stroke: var(--c-primary);
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: unset;
}

/* checkbox, radio horizontal */
.checkbox,
.radio {
  margin-top: -2px;
}

/* checkbox, radio vertical */
.checkbox-label,
.radio-label {
  font-size: 20px;
  color: var(--c-primary);
  display: flex;
  align-items: center;
}

/* checkbox */
input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 1px solid var(--c-primary);
  border-radius: 5px;
  background-clip: content-box;
  margin-right: 10px;
  vertical-align: middle;
}

input[type='checkbox']:checked {
  background-color: var(--c-primary);
}

/* radio */
input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 2px solid var(--c-primary);
  border-radius: 50%;
  background-clip: content-box;
  padding: 3px !important;
  margin-right: 10px;
  vertical-align: middle;
}

input[type='radio']:checked {
  background-color: var(--c-primary);
}

/* 頁面左右及上方間距 */
.pageWrapper {
  width: 1520px;
  margin-top: 100px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* border: 1px solid var(--c-important); */
}
/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */
