.memberHomePage__rightCard {
  width: 1500px;
  height: 900px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  /* margin: 26px 20px 26px auto; */
}
.memberHomePage__topBox {
  display: flex;
}
.memberHomePage__cartTitle {
  margin: 30px auto auto 30px;
}
.memberHomePage__cartBox {
  width: 1150px;
  height: 440px;
  margin: 20px 20px auto 20px;
  /* border: 1px solid red; */
}
.memberHomePage__makeBox {
  width: 1350px;
  height: 230px;
  margin: 40px auto 0 40px;
  display: flex;
  overflow: auto;
  overflow-y: hidden;
}
.memberProduct__make__item {
  display: flex;
  margin: 0 20px 0 0;
}

/* 官方產品的 CSS */
/* official products */

.memberProduct__cart {
  /* border: 1px solid red; */
  overflow: scroll;
  overflow-x: hidden;
  height: 440px;
}
.memberProduct__cart__item__box1 {
  margin: 0 80px 0 0;
}

.memberProduct__cart__item {
  width: 495px;
  height: 200px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  transition-duration: 2s;
  display: inline-flex;
}

.memberProduct__cart__price {
  /* border: 1px solid purple; */
  height: 17vh;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.memberProduct__cart__price div {
  /* border: 1px solid blue; */
  border-bottom: 1px solid var(--c-primary);
  display: flex;
  padding: 15px 0 5px 0;
}

.memberProduct__cart__price p {
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--fs-h3);
}

.memberProduct__cart__checkout {
  /* border: 1px solid navy; */
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memberProduct__cart__checkout div {
  width: 150px;
  height: 50px;
  background-color: var(--c-primary);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.memberProduct__cart__checkout p {
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--fs-h5);
}

.memberProduct__cart__no-item-message {
  margin: 0 auto;
  text-align: center;
}
.memberProduct__fav__no-item-message {
  margin: 0 auto;
  text-align: center;
  margin-right: 70px;
}

.memberProduct__cart__item__official-img {
  /* border: 1px solid blue; */
  width: 150px;
  position: relative;
}

.memberProduct__cart__item__official-img img {
  object-fit: contain;
  width: 150px;
  height: 200px;
  filter: var(--ds-product);
}

.memberProduct__cart__item__official-img div {
  /* border: 2px solid red; */
  position: absolute;
  top: 0px;
  left: 120px;
}

.memberProduct__cart__item__official-desc {
  /* border: 1px solid green; */
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.memberProduct__cart__item__official-desc p:nth-child(1) {
  /* 名稱或編號 */
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--fs-span);
  font-weight: var(--fw-medium);
}

.memberProduct__cart__item__official-desc p:nth-child(2) {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-weight: var(--fw-light);
}

.memberProduct__cart__item__official-desc div {
  display: flex;
  margin: 5px 0 5px 0;
  border: 1px solid var(--c-primary);
  width: 120px;
  height: 25px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}

.memberProduct__cart__item__official-desc select {
  width: 120px;
  border: none;
  background-color: transparent;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  font-weight: var(--fw-light);
  color: var(--c-primary);
  cursor: pointer;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
}

.memberProduct__cart__item__official-desc option {
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  font-weight: var(--fw-light);
  box-shadow: none;
}

.memberProduct__cart__item__official-desc select:focus {
  outline: none;
}

.memberProduct__cart__item__official-desc p:nth-child(4) {
  /* 數量：深藍、粗體 */
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--fs-span);
  font-weight: var(--fw-medium);
  margin: 8px 0;
}

.memberProduct__cart__item__official-desc p:nth-child(5) {
  /* 刪除： 淺灰，底線*/
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--fs-span);
  font-weight: var(--fw-light);
  text-decoration: underline;
}

.memberProduct__cart__item__official-btn {
  /* border: 1px solid orange; */
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.memberProduct__cart__item__official-btn div {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  line-height: 17.5px;
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--c-primary);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.memberProduct__cart__item__official-btn div:hover {
  background-color: #efefef;
}

.memberProduct__cart__item__official-btn p {
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--fs-h5);
  font-weight: var(--fw-medium);
  margin: 0 10px;
}
.cj-sidebarcartitem {
  width: 495px;
  height: 200px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  transition-duration: 2s;
}
.memberProduct__cart__item__custom-img {
  /* border: 1px solid blue; */
  width: 150px;
  position: relative;
}

.memberProduct__cart__item__custom-img img {
  object-fit: contain;
  width: 150px;
  height: 200px;
  filter: var(--ds-product);
}

.memberProduct__cart__item__custom-img div {
  /* border: 2px solid red; */
  position: absolute;
  top: 0px;
  left: 120px;
}

.memberProduct__cart__item__custom-desc {
  /* border: 1px solid green; */
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.memberProduct__cart__item__custom-desc p:nth-child(1) {
  /* 名稱或編號 */
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--fs-span);
  font-weight: var(--fw-medium);
}

.memberProduct__cart__item__custom-desc p:nth-child(2) {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-weight: var(--fw-light);
}

.memberProduct__cart__item__custom-desc div {
  display: flex;
  margin: 5px 0 5px 0;
  border: 1px solid var(--c-primary);
  width: 120px;
  height: 25px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}

.memberProduct__cart__item__custom-desc select {
  width: 120px;
  border: none;
  background-color: transparent;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  font-weight: var(--fw-light);
  color: var(--c-primary);
  cursor: pointer;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
}

.memberProduct__cart__item__custom-desc option {
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  font-weight: var(--fw-light);
  box-shadow: none;
}

.memberProduct__cart__item__custom-desc select:focus {
  outline: none;
}

.memberProduct__cart__item__custom-desc p:nth-child(4) {
  /* 數量：深藍、粗體 */
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--fs-span);
  font-weight: var(--fw-medium);
  margin: 8px 0;
}

.memberProduct__cart__item__custom-desc p:nth-child(5) {
  /* 刪除： 淺灰，底線*/
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--fs-span);
  font-weight: var(--fw-light);
  text-decoration: underline;
}
.memberProduct__cart__item__custom-btn {
  /* border: 1px solid orange; */
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.memberProduct__cart__item__custom-btn div {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  line-height: 17.5px;
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--c-primary);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.memberProduct__cart__item__custom-btn div:hover {
  background-color: #efefef;
}

.memberProduct__cart__item__custom-btn p {
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--fs-h5);
  font-weight: var(--fw-medium);
  margin: 0 10px;
}

.memberProduct__cart__item_box {
  width: 495px;
  display: flex;
  justify-content: space-around;
}

/* ===================================== */

.memberProduct__make__item {
  width: 495px;
  height: 200px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.memberProduct__fav__item__img {
  /* border: 1px solid blue; */
  width: 150px;
  position: relative;
}

.memberProduct__fav__item__img img {
  object-fit: contain;
  width: 150px;
  height: 200px;
  filter: var(--ds-product);
}

.memberProduct__fav__item__desc {
  /* border: 1px solid green; */
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.memberProduct__fav__item__desc > p:nth-child(1) {
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--fs-span);
  font-weight: var(--fw-medium);
}

.memberProduct__fav__item__desc > p:nth-child(2) {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-weight: var(--fw-light);
}

.memberProduct__fav__item__desc > div {
  display: flex;
  margin: 5px 0 5px 0;
  border: 1px solid var(--c-primary);
  width: 120px;
  height: 25px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}

.memberProduct__fav__item__desc > div > p {
  padding-left: 10px;
  background-color: transparent;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  font-weight: var(--fw-light);
  color: var(--c-primary);
}

.memberProduct__fav__item__desc > p:nth-child(4) {
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--fs-span);
  font-weight: var(--fw-light);
  text-decoration: underline;
  margin: 10px 0 10px 0;
}

.memberProduct__fav__item__desc > p:nth-child(5) {
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--fs-span);
  font-weight: var(--fw-light);
  text-decoration: underline;
  cursor: pointer;
}

.memberProduct__fav__item__btn {
  /* border: 1px solid orange; */
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.memberProduct__fav__item__btn div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c-primary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.memberProduct__fav__item__btn div:first-child {
  color: white;
  cursor: pointer;
}
