/* @import '../../styles/global.css'; */
// @import '../../styles/global.scss';

/* main color */
$c-primary: #223843; /* Gunmetal */
$c-secondary: #eff1f3; /* Cultured */
$c-white: #ffffff; /* White */
$c-gray: #c4c4c4; /* Gray */
$c-black: #000000; /* Black */
$c-bg-main: #fcf9ee; /* Light Floral White */
$c-bg-locator: #fffbeb; /* Floral White */
$c-bg-window: #f4e7d3; /* Pita */
$c-backdrop: rgba(0, 0, 0, 0.5); /* Cod Gray */
$c-label: #6e7781; /* Pale Sky */
$c-warning: #ffd289; /* Deep Champagne */
$c-important: #c16e70; /* Fuzzy Wuzzy */
$c-modal-button: #ffa042; /* Sunshade */

/* custom color */
$c-herb: #b8d7c7;
$c-flower: #f9e594;
$c-fruit: #fcca5b;
$c-blob-yellow: rgba(230, 194, 44, 0.5);
$c-blob-purple: rgba(83, 89, 164, 0.5);
$c-blob-red: rgba(209, 18, 73, 0.5);
$c-blob-orange: rgba(241, 113, 10, 0.5);

/* font-family */
$ff-didot: linotype-didot, serif; /* logo, homepage(custom product card, progress bar, copyright) */

/* font-size */
$fs-h1: 40px; /* logo */
$fs-h2: 36px;
$fs-h3: 30px;
$fs-h4: 24px;
$fs-h5: 20px; /* button */
$fs-p: 18px;
$fs-span: 16px; /* a, span */

/* font-weight */
$fw-light: 300;
$fw-regular: 400; /* didot */
$fw-medium: 500;
$fw-bold: 700; /* didot */

/* border-radius */
$br-b: 30px; /* course single page, product single page */
$br-m: 20px; /* homepage(course card) */
$br-s: 10px; /* input */

/* icon size */
$is-m: 30px;
$is-s: 24px; /* feather icon 預設大小 */

/* drop-shadow */
$ds-card: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
$ds-product: drop-shadow(-5px 10px 10px rgba(0, 0, 0, 0.3));
$ds-sidebar: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));

.custom {
  height: 100vh;
  background: $c-white;
  position: relative;
}

// progress bar
.custom__progress-bar {
  width: 900px;
  height: 80px;
  margin-left: -450px;
  background: $c-secondary;
  filter: $ds-card;
  border-radius: 50px;
  position: absolute;
  top: 50px;
  left: 50vw;
  // overflow: hidden;
  display: flex;
}
.custom__progress-note {
  // width: 300px;
  height: 100%;
  padding: 18px 120px 22px;
  font-size: 30px;
  &.active {
    background: $c-gray;
    border-radius: 50px;
  }
}

.custom__close-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 65px;
  right: 125px;
  cursor: pointer;
}

// description
.description {
  width: 570px;
  height: 800px;
  padding: 150px 90px;
  background: $c-blob-orange;
  border-radius: 60%;
  position: relative;
  top: 104px;
  &__title {
    // background:rgba(0, 0, 0, 0.2);
    padding: 30px;
    font-size: $fs-h4;
    text-align: center;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  }
  &__content {
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  }
}

// custom bottle
.custom__bottle {
  width: 500px;
  height: 500px;
  margin-left: -250px;
  border-radius: 0 0 80px 80px;
  border-right: 20px solid $c-primary;
  border-bottom: 20px solid $c-primary;
  border-left: 20px solid $c-primary;
  position: absolute;
  top: 420px;
  left: 50vw;
}

// sidebar top
.custom__sidebar-wrapper {
  // width: 400px;
  // width: 100px;
  height: 600px;
  background: $c-secondary;
  filter: $ds-card;
  border-radius: 50px;
  position: absolute;
  top: 240px;
  right: 100px;
  overflow: hidden;
  display: flex;
}

// sidebar items menu
.custom__items-menu {
  // background: pink;
  width: 300px;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.custom__items-menu li {
  // background: rgba(230, 194, 44, 0.5);
  // outline: 1px solid blue;
  width: 100%;
  text-align: center;
  line-height: 200px;
  cursor: pointer;
  &:hover {
    background: rgba(200, 200, 200, 0.3);
  }
  &:hover .custom__items-image {
    transform: scale(1.1);
  }
}
.custom__items-image {
  width: 130px;
  transition: 0.3s;
}

// sidebar series menu
.custom__series-menu {
  // background: $c-secondary;
  width: 100px;
  height: 100%;
  padding: 60px 0;
  border-radius: 50px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.custom__series-menu li {
  // background-color: #b8d7c7;
  // outline: 1px solid blue;
  width: 100%;
  text-align: center;
  line-height: 120px;
  cursor: pointer;
}
.custom__series-fruit {
  width: 60px;
  // margin-top: 110px;
}
.custom__series-flower {
  width: 60px;
}
.custom__series-leaf {
  width: 60px;
}
.custom__series-herb {
  width: 70px;
  // margin-bottom: 110px;
}

// control button group
%btn {
  width: 150px;
  height: 60px;
  background: $c-secondary;
  // border: none;
  border-radius: $br-s;
  font-size: $fs-h3;
  filter: $ds-card;
  position: absolute;
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
.custom__ {
  &btn-reset {
    @extend %btn;
    bottom: 50px;
    left: 100px;
  }
  &btn-goback {
    @extend %btn;
    bottom: 50px;
    left: 290px;
  }
  &btn-complete {
    @extend %btn;
    bottom: 50px;
    right: 100px;
  }
  &btn-favorite {
  }
  &btn-purchase {
  }
  &btn-share {
  }
}
.custom__icon {
  // height: 20px;
  // stroke-width: 1px;
  align-items: center;
  text-align: 30px;
}

// product name
.top-bar {
  width: 900px;
  height: 80px;
  margin-left: -450px;
  background: $c-secondary;
  filter: $ds-card;
  border-radius: 50px;
  font-size: $fs-h2;
  text-align: center;
  line-height: 80px;
  position: absolute;
  top: 50px;
  left: 50vw;
}

// product image
.product__image-top {
  margin-left: -175px;
  position: absolute;
  top: 230px;
  left: 50vw;
}
.product__image {
  width: 350px;
  height: 710px;
  filter: $ds-product;
}

.cost-list {
  width: 300px;
  height: 200px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 460px;
  right: 140px;
  &__col {
    width: 33%;
    font-weight: 300;
  }
  &__foot {
    border-top: 1px solid $c-primary;
  }
}
