@import '../../styles/global.scss';

// wrapper on the top
.custom,
.product {
  height: 100vh;
  background: $c-white;
  position: relative;
}

.close-btn {
  width: 60px;
  height: 60px;
  background: $c-secondary;
  border-radius: $br-b;
  position: absolute;
  top: 65px;
  right: 125px;
  cursor: pointer;
}

// description
.description {
  width: 570px;
  height: 800px;
  padding: 150px 90px;
  background: $c-blob-orange;
  border-radius: 60%;
  position: relative;
  top: 104px;
  &__title {
    padding: 30px;
    font-size: $fs-h4;
    text-align: center;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  }
  &__content {
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  }
}
