:root {
  --c-primary: #223843; /* Gunmetal */
  --c-secondary: #eff1f3; /* Cultured */
  --c-white: #ffffff; /* White */
  --c-gray: #c4c4c4; /* Gray */
  --c-black: #000000; /* Black */
  --c-bg-filter: #fcf9ee; /* Floral White */
  --c-bg-window: #f4e7d3; /* Pita */
  --c-backdrop: rgba(0, 0, 0, 0.5); /* Cod Gray */
  --c-label: #6e7781; /* Pale Sky */
  --c-warning: #ffd289; /* Deep Champagne */
  --c-important: #c16e70; /* Fuzzy Wuzzy */
  --c-modal-button: #ffa042; /* Sunshade */

  /* custom color */
  --c-herb: rgb(184, 215, 199);
  --c-flower: rgb(249, 229, 148);
  --c-fruit: rgb(252, 202, 91);
  --c-blob-yellow: rgba(230, 194, 44, 0.5);
  --c-blob-purple: rgba(83, 89, 164, 0.5);
  --c-blob-red: rgba(209, 18, 73, 0.5);
  --c-blob-orange: rgba(241, 113, 10, 0.5);

  /* font-family */
  --ff-didot: linotype-didot, serif; /* logo, homepage(custom product card, progress bar, copyright) */

  /* font-size */
  --fs-h1: 40px; /* logo */
  --fs-h2: 36px;
  --fs-h3: 30px;
  --fs-h4: 24px;
  --fs-h5: 20px; /* button */
  --fs-p: 18px;
  --fs-span: 16px; /* a, span */

  /* border-radius */
  --br-b: 30px; /* course single page, product single page */
  --br-m: 20px; /* homepage(course card) */
  --br-s: 10px; /* input */
  --br-circle: 50%;
  --br-checkbox: 5px;
  --br-checkbox-after: 3px;

  /* icon size */
  --is-m: 30px;
  --is-s: 24px; /* feather icon 預設大小 */

  /* drop-shadow */
  --ds-card: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
  --ds-product: drop-shadow(-5px 10px 10px rgba(0, 0, 0, 0.3));
}
/* .warning {
  background: #f9e594;
  border: 1px solid #f9e594;
}
.cold {
  background: #b8d7c7;
  border: 1px solid #b8d7c7;
}
.warningHot {
  background: #fcca5b;
  border: 1px solid #fcca5b;
} */
.total {
  max-height: 100vh;
  width: auto;
}

.popular__title{
  font-size: var(--fs-h2);
}
.popular__text {
  font-size: var(--fs-h4);
}
.popular__ranking {
  width: 1635px;
  display: flex;
  margin: auto;
}

.popular__ranking .popular__oneProduct:nth-child(3n) .popular__customProduct {
  background: #fcca5b;
  border-radius: 167.5px;
  width: 350px;
  display: flex;
  justify-content: center;
  height: 535px;
}
.popular__ranking .popular__oneProduct:nth-child(2n) .popular__customProduct {
  background: #f9e594;
  border-radius: 167.5px;
  width: 350px;
  display: flex;
  justify-content: center;
  height: 535px;
}
.popular__ranking
  .popular__oneProduct:nth-child(3n + 1)
  .popular__customProduct {
  background: #b8d7c7;
  border-radius: 167.5px;
  width: 350px;
  display: flex;
  justify-content: center;
  height: 535px;
}
.popular__ranking .popular__oneProduct:nth-child(5n) .popular__customProduct {
  background: #b8d7c7;
  border-radius: 167.5px;
  width: 350px;
  display: flex;
  justify-content: center;
  height: 535px;
}
.popular__oneProduct {
  width: 450px;
  height: 700px;
  text-align: center;
}
.popular__oneProduct:nth-child(even) {
  margin-top: 55px;
}
.popular__NoBox {
  position: relative;
  right: 30px;
  top: -5px;
}
.popular__No {
  position: absolute;
  width: 60px;
  height: 90px;
}
.popular__NoImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* .popular__customProduct:nth-child(n) {
  background: #b8d7c7;
  border-radius: 167.5px;
  width: 330px;
  display: flex;
  justify-content: center;
  height: 500px;
} */
/* .customProduct:nth-child(2n) {
  background: #f9e594;
  border-radius: 167.5px;
  width: 350px;
  display: flex;
  justify-content: center;
  height: 535px;
} */
/* .customProduct:nth-child(3n + 4) {
  background: #fcca5b;
  border-radius: 167.5px;
  width: 350px;
  display: flex;
  justify-content: center;
  height: 535px;
} */
/* .customProduct:nth-child(0n + 6) {
  background: #b8d7c7;
  border-radius: 167.5px;
  width: 350px;
  display: flex;
  justify-content: center;
  height: 535px;
} */
.popular__customImgBox {
  width: 150px;
  height: 310px;
  margin-top: 65px;
}
.popular__customImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.popular__code {
  font-size: 32px;
  font-family: linotype-didot, serif;
}
.popular__price {
  font-size: 24px;
  font-family: linotype-didot, serif;
}
.popular__buyBtn {
  width: 180px;
  height: 60px;
  margin-right: 10px;
  /* border: 1px solid #b8d7c7;
  background: #b8d7c7; */
  font-size: 15px;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  margin-right: 70px;
}
.popular__ranking .popular__oneProduct:nth-child(3n) .popular__buyBtn {
  width: 180px;
  height: 60px;
  margin-right: 10px;
  border: 1px solid #fcca5b;
  background: #fcca5b;
  font-size: 15px;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  margin-right: 70px;
}
.popular__ranking .popular__oneProduct:nth-child(2n) .popular__buyBtn {
  width: 180px;
  height: 60px;
  margin-right: 10px;
  border: 1px solid #f9e594;
  background: #f9e594;
  font-size: 15px;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  margin-right: 70px;
}
.popular__ranking .popular__oneProduct:nth-child(3n + 1) .popular__buyBtn {
  width: 180px;
  height: 60px;
  margin-right: 10px;
  border: 1px solid #b8d7c7;
  background: #b8d7c7;
  font-size: 15px;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  margin-right: 70px;
}
.popular__ranking .popular__oneProduct:nth-child(5n) .popular__buyBtn {
  width: 180px;
  height: 60px;
  margin-right: 10px;
  border: 1px solid #b8d7c7;
  background: #b8d7c7;
  font-size: 15px;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  margin-right: 70px;
}
/* .buyBtn:nth-child(2n) {
  width: 180px;
  height: 60px;
  margin-right: 10px;
  border: 1px solid #f9e594;
  background: #f9e594;
  font-size: 15px;
  color: rgb(0, 0, 0);
  border-radius: 30px;
} */
/* .buyBtn:nth-child(3n + 4) {
  width: 180px;
  height: 60px;
  margin-right: 10px;
  border: 1px solid #fcca5b;
  background: #fcca5b;
  font-size: 15px;
  color: rgb(0, 0, 0);
  border-radius: 30px;
}
.buyBtn:nth-child(0n + 6) {
  width: 180px;
  height: 60px;
  margin-right: 10px;
  border: 1px solid #b8d7c7;
  background: #b8d7c7;
  font-size: 15px;
  color: rgb(0, 0, 0);
  border-radius: 30px;
} */
.popular__aArrow {
  font-size: 24px;
  color: #223843;
  text-decoration: none;
}
.popular__aArrow:hover {
  font-size: 24px;
  color: #223843;
  text-decoration: none;
}
