@import '../../../../styles/global.scss';
@import '../style.scss';

// introduction
.c-intro-long__intro {
  width: 348px;
  height: 63px;
  text-shadow: $text-shadow;
  position: absolute;
  top: 165px;
  right: 50px;
}

// product categorys
.c-intro-long {
  &__cate-wrap {
    width: 1000px;
    height: 300px;
    margin-left: -510px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 360px;
    left: 50vw;
    animation: $ani-fadein;
  }
  &__cate-item {
    text-align: center;
  }
  &__cate-item h5 {
    padding-bottom: 30px;
    font-weight: bold;
  }
  &__cate-item img {
    width: 150px;
    height: 240px;
  }
}

// longevity chart
.c-intro-long__chart-wrap {
  margin-left: -612px;
  position: absolute;
  top: 700px;
  left: 50vw;
  animation: $ani-fadein;
  & img {
    width: 1224px;
    height: 107px;
  }
}
