@import '../../../../styles/global.scss';

// progress bar
.custom__progress-bar {
  width: 900px;
  height: 80px;
  margin-left: -450px;
  background: $c-secondary;
  filter: $ds-card;
  border-radius: 50px;
  display: flex;
  position: absolute;
  top: 50px;
  left: 50vw;
}
.custom__progress-note {
  height: 100%;
  padding: 18px 120px 22px;
  font-size: 30px;
  &.active {
    background: $c-gray;
    border-radius: 50px;
  }
}

// notice message
.custom__notice{
  margin-left: -90px;
  font-size: $fs-h2;
  color: $c-important;
  position: absolute;
  top: 200px;
  left: 50vw;
}

// beaker
@mixin beakerImg($move) {
  width: 240px;
  position: absolute;
  bottom: 0;
  left: $move;
}
.custom__beaker {
  width: 500px;
  height: 500px;
  margin-left: -250px;
  border-radius: 0 0 80px 80px;
  border-right: 20px solid $c-primary;
  border-bottom: 20px solid $c-primary;
  border-left: 20px solid $c-primary;
  position: absolute;
  top: 420px;
  left: 50vw;
  overflow: hidden;
  &__img0 {
    @include beakerImg(0);
  }
  &__img1 {
    @include beakerImg(120px);
  }
  &__img2 {
    @include beakerImg(240px);
  }
}

// sidebar top
.custom__sidebar-wrapper {
  // width: 400px;
  // width: 100px;
  height: 600px;
  background: $c-secondary;
  filter: $ds-card;
  border-radius: 50px;
  position: absolute;
  top: 240px;
  right: 100px;
  overflow: hidden;
  display: flex;
}

// sidebar items menu
.custom__items-menu {
  width: 300px;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.custom__items-menu li {
  width: 100%;
  text-align: center;
  line-height: 200px;
  cursor: pointer;
  &:hover {
    background: rgba(200, 200, 200, 0.3);
  }
  &:hover .custom__items-image {
    transform: translateZ(0) scale(1.1);
  }
}
.custom__items-image {
  width: 130px;
  transition: 0.3s;
}

// sidebar series menu
.custom__series-menu {
  width: 100px;
  height: 100%;
  padding: 60px 0;
  border-radius: 50px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.custom__series-menu li {
  width: 100%;
  text-align: center;
  line-height: 120px;
  cursor: pointer;
}
@mixin activeSerie($width) {
  width: $width;
  &.active {
    transform: translateZ(0) scale(1.2);
    filter: brightness(1.2) $ds-card;
    transition: 0.3s;
  }
}
.custom__series {
  &-fruit {
    @include activeSerie(60px);
    // margin-top: 110px;
  }
  &-flower {
    @include activeSerie(60px);
  }
  &-leaf {
    @include activeSerie(60px);
  }
  &-herb {
    @include activeSerie(70px);
    // margin-bottom: 110px;
  }
}

// buttons
%btn {
  width: 150px;
  height: 60px;
  border: none;
  border-radius: $br-b;
  font-size: $fs-h3;
  filter: $ds-card;
  position: absolute;
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
%btn-light {
  background: $c-secondary;
  &:hover {
    background: #2e6e90;
    color: $c-white;
    transition: 0.3s;
  }
}
%btn-dark {
  background: $c-primary;
  color: $c-secondary;
  &:hover {
    background: #2e6e90;
    color: $c-white;
    transition: 0.3s;
  }
}
.custom {
  &__btn-reset {
    @extend %btn;
    @extend %btn-light;
    bottom: 50px;
    left: 100px;
  }
  &__btn-goback {
    @extend %btn;
    @extend %btn-light;
    bottom: 50px;
    left: 290px;
  }
  &__btn-complete {
    @extend %btn;
    color: $c-gray;
    bottom: 50px;
    right: 100px;
  }
  &__btn-complete.active {
    @extend %btn;
    @extend %btn-dark;
    background: $c-primary;
    color: $c-secondary;
  }
}
