/* 沒列在這裡的變數或網頁上大小看起來很怪的在 #ui 問設計組 */
:root {
  /* common color */
  --c-primary: #223843; /* Gunmetal */
  --c-secondary: #eff1f3; /* Cultured */
  --c-white: #ffffff; /* White */
  --c-gray: #c4c4c4; /* Gray */
  --c-black: #000000; /* Black */
  --c-bg-filter: #fcf9ee; /* Floral White */
  --c-bg-window: #f4e7d3; /* Pita */
  --c-backdrop: rgba(0, 0, 0, 0.5); /* Cod Gray */
  --c-label: #6e7781; /* Pale Sky */
  --c-warning: #ffd289; /* Deep Champagne */
  --c-important: #c16e70; /* Fuzzy Wuzzy */
  --c-modal-button: #ffa042; /* Sunshade */

  /* custom color*/
  --c-herb: rgb(184, 215, 199);
  --c-flower: rgb(249, 229, 148);
  --c-fruit: rgb(252, 202, 91);
  --c-blob-yellow: rgba(230, 194, 44, 0.5);
  --c-blob-purple: rgba(83, 89, 164, 0.5);
  --c-blob-red: rgba(209, 18, 73, 0.5);
  --c-blob-orange: rgba(241, 113, 10, 0.5);

  /* font-family */
  --ff-didot: linotype-didot, serif; /* logo, homepage(custom product card, progress bar, copyright) */

  /* font-size */
  --fs-h1: 40px; /* logo */
  --fs-h2: 36px;
  --fs-h3: 30px;
  --fs-h4: 24px;
  --fs-h5: 20px; /* button */
  --fs-p: 18px;
  --fs-span: 16px; /* a, span */

  /* border-radius */
  --br-b: 30px; /* course single page, product single page */
  --br-m: 20px; /* homepage(course card) */
  --br-s: 10px; /* input */
  --br-circle: 50%;
  --br-checkbox: 5px;
  --br-checkbox-after: 3px;

  /* icon size */
  --is-m: 30px;
  --is-s: 24px; /* feather icon 預設大小 */

  /* drop-shadow */
  --ds-card: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
  --ds-product: drop-shadow(-5px 10px 10px rgba(0, 0, 0, 0.3));
}
​ body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--c-primary);
}

p,
ul,
li,
article,
figure {
  margin: 0;
  padding: 0;
}

a,
a:link {
  text-decoration: none !important;
  color: var(--c-primary) !important;
}

a:focus,
a:hover {
  text-decoration: none;
  color: var(--c-primary);
}

/* default icon */
.feather-s {
  width: var(--is-s);
  height: var(--is-s);
  stroke: var(--c-primary);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.feather-m {
  width: var(--is-m);
  height: var(--is-m);
  stroke: var(--c-primary);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* 以下為暫定樣式尚未完成，若有更好的寫法歡迎提供 */
/* checkbox */
label {
  font-size: var(--fs-h5);
  color: var(--c-primary);
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin-right: 5px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid var(--c-primary);
  border-radius: var(--br-checkbox);
  position: relative;
}

input[type='checkbox']:checked:after {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  content: ' ';
  display: inline-block;
  visibility: visible;
  background-color: var(--c-primary);
  border-radius: var(--br-checkbox-after);
}

/* radio */
input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid var(--c-primary);
  border-radius: var(--br-circle);
  text-align: center;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  top: 0;
  content: ' ';
  display: inline-block;
  visibility: visible;
  background-color: var(--c-primary);
  border-radius: var(--br-circle);
  text-align: center;
}
