@import url("https://use.typekit.net/abg1jwm.css");

/* 沒列在這裡的變數或網頁上大小看起來很怪的在 #ui 問設計組 */
/* main color */
$c-primary: #223843; /* Gunmetal */
$c-secondary: #eff1f3; /* Cultured */
$c-white: #ffffff; /* White */
$c-gray: #c4c4c4; /* Gray */
$c-black: #000000; /* Black */
$c-bg-main: #fcf9ee; /* Light Floral White */
$c-bg-locator: #fffbeb; /* Floral White */
$c-bg-window: #f4e7d3; /* Pita */
$c-backdrop: rgba(0, 0, 0, 0.5); /* Cod Gray */
$c-label: #6e7781; /* Pale Sky */
$c-warning: #ffd289; /* Deep Champagne */
$c-important: #c16e70; /* Fuzzy Wuzzy */
$c-modal-button: #ffa042; /* Sunshade */

/* custom color */
$c-herb: #b8d7c7;
$c-flower: #f9e594;
$c-fruit: #fcca5b;
$c-blob-yellow: rgba(230, 194, 44, 0.5);
$c-blob-purple: rgba(83, 89, 164, 0.5);
$c-blob-red: rgba(209, 18, 73, 0.5);
$c-blob-orange: rgba(241, 113, 10, 0.5);

/* font-family */
$ff-didot: linotype-didot, serif; /* logo, homepage(custom product card, progress bar, copyright) */

/* font-size */
$fs-h1: 40px; /* logo */
$fs-h2: 36px;
$fs-h3: 30px;
$fs-h4: 24px;
$fs-h5: 20px; /* button */
$fs-p: 18px;
$fs-span: 16px; /* a, span */

/* font-weight */
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

/* border-radius */
$br-b: 30px; /* course single page, product single page */
$br-m: 20px; /* homepage(course card) */
$br-s: 10px; /* input */

/* icon size */
$is-m: 30px;
$is-s: 24px; /* feather icon 預設大小 */

/* drop-shadow */
$ds-card: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
$ds-product: drop-shadow(-5px 10px 10px rgba(0, 0, 0, 0.3));

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: $fw-regular;
  color: $c-primary;
}

p,
ul,
li,
article,
figure {
  margin: 0;
  padding: 0;
}

a,
a:link {
  text-decoration: none !important;
  color: $c-primary !important;
}

a:focus,
a:hover {
  text-decoration: none;
  color: $c-primary;
}

/* default icon */
.feather-s {
  width: $is-s;
  height: $is-s;
  stroke: $c-primary;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: unset;

}

.feather-m {
  width: $is-m;
  height: $is-m;
  stroke: $c-primary;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: unset;
}

/* checkbox, radio horizontal */
.checkbox,
.radio {
  margin-top: -2px;
}

/* checkbox, radio vertical */
.checkbox-label,
.radio-label {
  display: flex;
  align-items: center;
  font-size: $fs-h5;
  color: $c-primary;
}

/* checkbox */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 1px solid $c-primary;
  border-radius: 5px;
  background-clip: content-box;
  margin-right: 10px;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  background-color: $c-primary;
}

/* radio */
input[type="radio"] {
  -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid $c-primary;
  border-radius: 50%;
  background-clip: content-box;
  padding: 3px !important;
  margin-right: 10px;
  vertical-align: middle;
}

input[type="radio"]:checked {
  background-color: $c-primary;
}

// 頁面左右及上方間距
.pageWrapper {
  max-width: 1520px;
  margin-top: 100px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}