:root {
  /* main color */
  --c-primary: #223843; /* Gunmetal */
  --c-secondary: #eff1f3; /* Cultured */
  --c-white: #ffffff; /* White */
  --c-gray: #c4c4c4; /* Gray */
  --c-black: #000000; /* Black */
  --c-bg-filter: #fcf9ee; /* Floral White */
  --c-bg-window: #f4e7d3; /* Pita */
  --c-backdrop: rgba(0, 0, 0, 0.5); /* Cod Gray */
  --c-label: #6e7781; /* Pale Sky */
  --c-warning: #ffd289; /* Deep Champagne */
  --c-important: #c16e70; /* Fuzzy Wuzzy */
  --c-modal-button: #ffa042; /* Sunshade */

  /* custom color */
  --c-herb: rgb(184, 215, 199);
  --c-flower: rgb(249, 229, 148);
  --c-fruit: rgb(252, 202, 91);
  --c-blob-yellow: rgba(230, 194, 44, 0.5);
  --c-blob-purple: rgba(83, 89, 164, 0.5);
  --c-blob-red: rgba(209, 18, 73, 0.5);
  --c-blob-orange: rgba(241, 113, 10, 0.5);

  /* font-family */
  --ff-didot: linotype-didot, serif; /* logo, homepage(custom product card, progress bar, copyright) */

  /* font-size */
  --fs-h1: 40px; /* logo */
  --fs-h2: 36px;
  --fs-h3: 30px;
  --fs-h4: 24px;
  --fs-h5: 20px; /* button */
  --fs-p: 18px;
  --fs-span: 16px; /* a, span */

  /* border-radius */
  --br-b: 30px; /* course single page, product single page */
  --br-m: 20px; /* homepage(course card) */
  --br-s: 10px; /* input */
  --br-circle: 50%;
  --br-checkbox: 5px;
  --br-checkbox-after: 3px;

  /* icon size */
  --is-m: 30px;
  --is-s: 24px; /* feather icon 預設大小 */

  /* drop-shadow */
  --ds-card: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
  --ds-product: drop-shadow(-5px 10px 10px rgba(0, 0, 0, 0.3));
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--c-primary);
}

p,
ul,
li,
article,
figure,
body,
hr {
  margin: 0;
  padding: 0;
}

a,
a:link {
  text-decoration: none !important;
  color: var(--c-primary) !important;
}

a:focus,
a:hover {
  text-decoration: none;
  color: var(--c-primary);
}

/* default icon */
.feather {
  width: 24px;
  height: 24px;
  stroke: var(--c-primary);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* example */
/* logo */
.logo {
  font-family: var(--ff-didot);
  color: var(--c-primary);
}

/* header icon */
.header-i {
  stroke-width: 1px;
}

/* button */
.orderBtn {
  font-size: var(--fs-h5);
  color: var(--c-primary);
  background: rgba(184, 215, 199);
  opacity: 0.8;
  border: none;
  width: 180px;
  height: 60px;
  border-radius: var(--br-b);
}

.orderBtn:hover {
  font-weight: bold;
  opacity: 1;
}

/* link */
.bestsellerLink {
  font-size: var(--fs-h4);
}

.homepage-i {
  width: 40px;
  height: 40px;
}

/* card */
.card {
  width: 200px;
  height: 300px;
  border-radius: var(--br-m) !important;
  filter: var(--ds-card);
}

/* 以下為暫定樣式尚未完成，若有更好的寫法歡迎提供 */
/* checkbox */
label {
  font-size: var(--fs-h5);
  color: var(--c-primary);
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin-right: 5px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid var(--c-primary);
  border-radius: var(--br-checkbox);
  position: relative;
}

input[type='checkbox']:checked:after {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  content: ' ';
  display: inline-block;
  visibility: visible;
  background-color: var(--c-primary);
  border-radius: var(--br-checkbox-after);
}

/* radio */
input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid var(--c-primary);
  border-radius: var(--br-circle);
  text-align: center;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  top: 0;
  content: ' ';
  display: inline-block;
  visibility: visible;
  background-color: var(--c-primary);
  border-radius: var(--br-circle);
  text-align: center;
}
.header__page {
  height: 100vh;
}
.header {
  background: var(--c-bg-filter);
  height: 128px;
  width: 100%;
}
.header__line {
  height: 8px;
  background: var(--c-primary);
}
.header__top {
  display: flex;
  justify-content: center;
  position: relative;
  top: 27px;
}
.header__menu__list {
  display: flex;
  justify-content: center;
  margin: 30px 0px 0px 0px;
  list-style: none;
  font-size: var(--fs-h5);
}

.header__menu__list li {
  margin: 0 35px;
  border-bottom: 4px solid dashed;
}
.header__menu__list li:hover {
  transition: 0.5s;
  border-bottom: 4px solid var(--c-primary);
}
.header__icon-border {
  width: 80%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 5px;
}
.icon {
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  width: 180px;
}
.header__rwd-icon-1 {
  width: 80px;
  display: flex;
  justify-content: space-around;
}
.header__rwd-icon-2 {
  width: 90px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 800px) {
  .header__menu__list {
    display: none;
  }
  .header__icon-border {
    width: 100%;
  }
}
@media screen and (max-width: 706px) {
  .header__rwd-icon-2 {
    display: none;
  }
  .icon {
    width: 100px;
    position: relative;
    top: -5px;
  }
  .header__icon-border {
    width: 100%;
  }
  .header {
    height: 64px;
  }
  .logo {
    font-size: var(--fs-h4);
    top: 12px;
  }
  .header__line {
    height: 4px;
  }
}
